@model IEnumerable<TL4_SHOP.Models.ViewModels.DanhMucViewModel>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<link rel="stylesheet" href="~/css/mega-menu.css" />

@if (Model != null && Model.Any())
{
    <ul class="vertical-menu">
        @foreach (var cha in Model.Where(d => d.DanhMucChaId == null))
        {
            <li class="menu-item">
                <a asp-controller="Home" asp-action="Shop" asp-route-danhMucId="@cha.Id">
                    <i class="fas fa-folder me-2"></i>@cha.TenDanhMuc
                    <i class="fas fa-angle-right float-right"></i>
                </a>

                @if (cha.DanhMucCon?.Any() == true)
                {
                    <div class="mega-menu">
                        <div class="row">
                            @foreach (var cap2 in cha.DanhMucCon)
                            {
                                <div class="col-md-4">
                                    <a asp-controller="Home" asp-action="Shop" asp-route-danhMucId="@cap2.Id" class="fw-bold d-block mb-2 text-danger">
                                        <i class="fas fa-tags me-1"></i> @cap2.TenDanhMuc
                                    </a>
                                    <ul class="list-unstyled">
                                        @foreach (var cap3 in cap2.DanhMucCon ?? Enumerable.Empty<TL4_SHOP.Models.ViewModels.DanhMucViewModel>())
                                        {
                                            <li>
                                                <a asp-controller="Home"
                                                   asp-action="Shop"
                                                   asp-route-danhMucId="@cap3.Id"
                                                   asp-route-nhaCungCapId="@cap3.NhaCungCapId">
                                                    @cap3.TenDanhMuc (@cap3.SoLuongSanPham)
                                                </a>
                                            </li>
                                        }
                                    </ul>
                                </div>
                            }
                        </div>
                    </div>
                }
            </li>
        }
    </ul>
}

<link rel="stylesheet" href="~/css/mega-menu.css" />
